@import "tailwindcss";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #6e3b8c;
  --color-background-light: #f7f6f7;
  --color-accent-amber: #F4B740;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
